.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 2rem 0;
}

.botao:hover {
  color: #95ffd4;
}
